[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Eli Goldberg <eli@prometheus-music.com>
  #                 Gervase Markham <gerv@gerv.net>
  #                 Claudius Gayle
  #                 Peter Mock
  #                 Chris Pratt
  #                 Tom Schutter
  #                 Chris Yeh
  #%]
  
[% PROCESS global/variables.none.tmpl %] 
[% INCLUDE global/header.html.tmpl title = "Rady pro hlášení $terms.chyba_2pl" %] 

<h3>Proč byste si tohle měli přečíst</h3>

<blockquote>
  <p>Jednoduše řečeno, čím lépe [% terms.chyba_2sg %] nahlásíte, tím větší
  šance máte na to, že [% terms.chyba_4sg %] někdo opraví.</p>

  <p>Tento návod obsahuje obecné rady pro nováčky a mírně pokročilé.
  Pro váš konkrétní projekt nemusí přesně platit úplně každá věta.</p>
</blockquote>

<h3>Jak napsat užitečné hlášení o [% terms.chyba_6sg %]</h3>

<blockquote>
  <p>Užitečné hlášení je takové, díky kterému se [% terms.chyba_4sg %] povede
  opravit. Užitečné hlášení obvykle splňuje dvě podmínky:</p>

  <ol>
    <li><b>Je reprodukovatelné.</b> Pokud se vývojáři nepodaří [% terms.chyba_4sg %]
    ani spatřit, pravděpodobně situaci vyřeší označením „[% resolutioncs.WORKSFORME %]“
    nebo „[% resolutioncs.INVALID %]“ a přesune se na další [% terms.chyba_4sg %].
    Každá maličkost, kterou můžete poskytnout, může pomoci.<br>
    <br>
    </li>

    <li><b>Je konkrétní.</b> Čím rychleji dokáže vývojář lokalizovat [% terms.chyba_4sg %],
    tím spíše dokáže problém rychle vyřešit. (Pokud programátor či tester musí
    hlášení dešifrovat, pravděpodobně stráví více času proklínáním zadavatele namísto
    řešení problému.)<br>
    <br>
    [ <a href="#tips" name="Anchor">Chtěl bych vědět víc</a> ]</li>
  </ol>

  <p>Řekněme, že testuje webový prohlížeč. Na stránce foo.com vám zhavaruje
  a vy chcete napsat hlášení [% terms.chyba_2sg %]:</p>

  <blockquote>
    <p><b>ŠPATNĚ:</b> Můj prohlížeč havaroval. Myslím, že to bylo na www.foo.com.
    Hraju golf s Billem Gatesem, tak si pospěšte, nebo si mu budu stěžovat.
    Mimochodem, vaše ikonka Zpět vypadá jako uschlý kaktus. HNUUS. A domácí stránka
    mojí babičky se ve vašem prohlížeči zobrazuje blbě. díki</p>

    <p><b>SPRÁVNĚ:</b> Prohlížeč havaruje pokaždé, když navštívím www.foo.com,
    používám verzi 2002-02-25 na počítači s Windows 2000. Také jsem zkusil nabootovat
    do Linuxu a tentýž problém se děje na linuxové verzi 2002-02-24.</p>

    <p>Pokaždé havaruje ve chvíli, kdy se vykresluje obrázek navrchu stránky.
    Rozebral jsem stránku a zjistil jsem, že následující odkaz na obrázek
    vždy shodí aplikaci, pokud z něj neodstraníte atribut "border=0":</p>

    <p><tt>&lt;IMG SRC="http://www.foo.com/images/topics/topicfoos.gif"
    width="34" height="44" border="0" alt="Novinky"&gt;</tt></p>
  </blockquote>
</blockquote>

<h3>Jak do [% terms.Bugzilla_2sg %] zadávat užitečná hlášení:</h3>

<blockquote>
  <p>Před tím, než ohlásíte [% terms.chyba_4sg %], použijte funkci
  <a href="query.cgi">hledání</a> a pokuste se zjistit, zda se nejedná
  o znám[% koncovky.mlady_4sg %], již hlášen[% koncovky.mlady_4sg %] [%+ terms.chyba_4sg %].
  Pokud se pokusíte zadat 37. duplikát známého problému, je vyšší
  šance, že tím budete vývojáře poněkud otravovat. (Otrávení vývojáři
  odstraňují méně [% terms.chyba_2pl %].)</p>

  <p>Poté se ujistěte, že se [% terms.chyba %] vyskytuje v nejnovější
  verzi. Vývojáře zajímají hlavně problémy, které jsou v programu, na
  kterém pracují. Konečně, [% terms.chyba %], kter[% koncovky.mlady_4sg %]
  hlásíte, mohl[% koncovky.verb %] již být v aktuální verzi
  opraven[% koncovky.verb %].</p>

  <p>Pokud jste opravdu odhalili nov[% koncovky.mlady_4sg %] [%+ terms.chyba_4sg %]
  aktuální verze, vytvořte nové hlášení:</p>

  <ol>
    <li>Na hlavní strany [% terms.Bugzilla_2sg %] zvolte
    „<a href="enter_bug.cgi">Ohlásit nov[% koncovky.mlady_4sg %] [%+ terms.chyba_4sg %]</a>“.</li>

    <li>Zvolte produkt, ve kterém jste [% terms.chyba_4sg %] nalezli.</li>

    <li>Zadejte svou e-mailovou adresu, heslo a stiskněte tlačítko
    „Přihlásit se“. (Pokud dosud nemáte účet, můžete si ho
    <a href="createaccount.cgi">založit</a>.)</li>
  </ol>

  <p>Nyní vyplňte formulář. Co jednotlivé položky znamenají:</p>

  <p><b>Kde jste [% terms.chyba_4sg %] nalezli?</b></p>

  <blockquote>
    <p><b>Produkt: Ve kterém produktu jste [% terms.chyba_4sg %] nalezli?</b><br>
     To jste určili na předchozí stránce, takže to zde již změnit nemůžete.</p>

    <p><b>Verze: Ve které verzi produktu jste [% terms.chyba_4sg %] nalezli?</b><br></p>

    <p><b>Komponenta: Ve které komponentě se [% terms.chyba %] vyskytuje?</b><br>
    [% terms.Bugzilla %] vyžaduje, abyste komponentu vyplnili. (Nejste si jisti,
    co si máte vybrat? Klikněte na odkaz Komponenta, zobrazí se popisy všech komponent,
    abyste se dokázali správně rozhodnout.)</p>

    <p><b>OS: Na kterém operačním systému (OS) jste [% terms.tatochyba_4sg %] nalezli?</b>
    (např. Linux, Windows 2000, Mac OS 9.)<br>
    Pokud víte, že se [% terms.chyba %] objevuje na všech OS, zvolte „Všechny“.
    Jinak vyberte ze seznamu OS, na kterém jste [% terms.chyba_4sg %] nalezli, případně
    „Jiný“, pokud váš OS není v seznamu.</p>
  </blockquote>

  <p><b>Jak závažná je [% terms.chyba %]?</b></p>

  <blockquote>
    <p><b>Závažnost: Jak škodlivá je [% terms.tatochyba_1sg %]?</b><br>
    Implicitní hodnotou je „normální“. Pokud si nejste jisti, jak
    závažnost [% terms.chyba_2sg %] ohodnotit, klikněte na odkaz Závažnost,
    zobrazí se popis všech úrovní.</p>
  </blockquote>

  <p><b>Kdo bude [% terms.chyba_4sg %] sledovat?</b></p>

  <blockquote>
    <p><b>Přidělit: Který vývojář by měl být zodpovědný za opravu
    [% terms.tatochyba_2sg %]?</b><br>
    [% terms.Bugzilla %] ve chvíli vyplnění žádosti [% terms.chyba_4sg %] automaticky
    přidělí implicitnímu vývojáři. Pokud raději chcete [% terms.chyba_4sg %] přidělit
    někomu jinému, zadejte jeho e-mailovou adresu do tohoto pole. (Seznam
    implicitních vývojářů jednotlivých komponent získáte kliknutím na odkaz
    Komponenta.)</p>

    <p><b>Cc: Komu dalšímu by měly být posílány e-mailové zprávy o změnách
    [% terms.tatochyba_2sg %]?</b><br>
    Uveďte úplné e-mailové adresy dalších osob, kterým by měly být zasílány
    zprávy o každé změně [% terms.tatochyba_2sg %]. Můžete zadat libovolný počet
    adres, oddělených mezerami či čárkami. Všechny osoby však musí mít
    na [% terms.Bugzilla_6sg %] registrován účet.</p>
  </blockquote>

  <p><b>Co můžete vývojáři o [% terms.chyba_6sg %] sdělit?</b></p>

  <blockquote>
    <p><b>Shrnutí: Jak byste popsali [% terms.chyba_4sg %] v přibližně
    60 znacích?</b><br>
    Užitečné shrnutí <b>rychle a jednoznačně popisuje [% terms.chyba_4sg %]</b>.
    V opačném případě není vývojář schopen [% terms.chyba_4sg %] smysluplně
    identifikovat a může [% terms.zajmeno_4sg %] v desetistránkovém seznamu
    snadno přehlédnout.<br>
    <br>
    Užitečné shrnutí může vypadat např. „<tt>Nefunguje instalace PCMCIA
    na Tosh Tecra 780DVD s 3c589C</tt>“. „<tt>Program nefunguje</tt>“ nebo
    „<tt>problémy s instalací</tt>“ jsou příklady špatného shrnutí.<br>
    <br>
     [ <a href="#summary">Chtěl bych vědět víc</a> ]<br>
    <br>
     <b>Popis:</b><br>
     V tomto poli laskavě poskytněte detailní popis problému. Příjemci
     vašeho hlášení budou nejspíše očekávat následující informace:</p>

    <blockquote>
      <p><b>Hrubý popis:</b> Podrobněji rozepsané shrnutí.</p>

      <blockquote>
<pre>
Při označování textu na stránce myší verze pro Macintosh havaruje v NSGetFactory.
</pre>
      </blockquote>

      <p><b>Jak [% terms.chyba_4sg %] zopakovat:</b> Minimalizovaný seznam jednoduchých kroků,
      jak [% terms.chyba_4sg %] vyvolat. Nezapomeňte zmínit případné
      zvláštní postupy při instalaci.</p>

      <blockquote>
<pre>
1) Zobrazte libovolnou webovou stránku. (Používal jsem
standardní testovací stránku,
resource:/res/samples/test0.html)

2) Označte text stránky myší. (Přesněji řečeno: držte tlačítko myši
a pohybujte myší z libovolného místa v zobrazené stránce směrem
dolů ke konec zobrazované plochy.)
</pre>
      </blockquote>

      <p><b>Co se děje:</b> Jak se aplikace chová po provedení
      výše uvedených kroků.</p>

      <blockquote>
<pre>
Aplikace havarovala, níže je uveden výpis zásobníku z programu MacsBug.
</pre>
      </blockquote>

      <p><b>Co jsem čekal, že se stane:</b> Co by aplikace měla dělat,
      pokud by v ní nebyl[% koncovky.verb %] [% terms.chyba %].</p>

      <blockquote>
<pre>
Okno by mělo začít posouvat svůj obsah a nově zobrazovaný obsah by měl
být vybrán. (Nebo by přinejmenším aplikace neměla havarovat.)
</pre>
      </blockquote>

      <p><b>Verze &amp; platforma:</b> Označení verze a platformy,
      na které jste poprvé [% terms.chyba_4sg %] zaznamenali.</p>

      <blockquote>
<pre>
Build 2002-03-15 na Mac OS 9.0
</pre>
      </blockquote>

      <p><b>Další verze a platformy:</b> Uveďte, zda se [% terms.chyba %]
      objevuje i na jiných platformách.</p>

      <blockquote>
<pre>
- Vyskytuje se také na
Mozilla (build 2002-03-15 na Windows NT 4.0) 

- Nevyskytuje se na
Mozilla (build 2002-03-15 na Red Hat Linuxu; tuto funkci postrádá)
Internet Explorer 5.0 (verze u Windows NT 4.0)        
Netscape Communicator 4.5 (verze u Mac OS 9.0)
</pre>
      </blockquote>

      <p><b>Dodatečné informace:</b> Libovolné další informace,
      které mohou pomoci ladění. U [% terms.chyba_2pl %] způsobujících
      pád aplikace:</p>

      <ul>
        <li><b>Win32:</b> pokud se objevilo hlášení Dr. Watsona, poznamenejte
	si laskavě typ havárie a modul, ve kterém aplikace havarovala
        (např. neplatná operace v aplikace.exe)</li>

        <li><b>Mac OS:</b> pokud používáte program MacsBug, poskytněte laskavě
	výsledky příkazů <b>how</b> a <b>sc</b>:</li>
      </ul>

      <blockquote>
<pre>
*** MACSBUG STACK CRAWL OF CRASH (Mac OS)
Calling chain using A6/R1 links
Back chain  ISA  Caller
00000000    PPC  0BA85E74
03AEFD80    PPC  0B742248
03AEFD30    PPC  0B50FDDC  NSGetFactory+027FC
PowerPC unmapped memory exception at 0B512BD0 NSGetFactory+055F0
</pre>
      </blockquote>
    </blockquote>
  </blockquote>

  <p>Hotovo!<br>
  <br>
   Poté, co překontrolujete případné chyby ve svém přípěvku, stiskněte tlačítko
   „Uložit“ a [% terms.chyba %] bude uložen[% koncovky.verb %] do databáze [% terms.Bugzilla_2sg %].
  </p>
</blockquote>
<hr>

<h3>Další informace o psaní užitečných hlášení</h3>

<blockquote>
  <p><b><a name="tips"></a> 1. Obecné tipy</b></p>

  <blockquote>
    <p><b>Používejte standardizovaný zřetelně strukturovaný formát, takže
    lze vaše hlášení snadno přelétnout zrakem. Uživatelé často potřebují
    z hlášení získat jednu konkrétní informaci. S udržováním standardizovaného
    formátu vám může pomoci Průvodce, pokud ho vaše instalace podporuje.</p>

    <p><b>Vyhněte se srandičkám, pokud jsou na úkor srozumitelnosti.</b>
    Vašemu vtipnému nadpisu [% terms.chyba_2sg %] se ve 3 hodiny ráno nikdo
    smát nebude, pokud nejsou schopni si ani zapamatovat, podle čeho [% terms.chyba_4sg %]
    najít.</p>

    <p><b>1 [% terms.chyba %], 1 hlášení.</b> Různ[% koncovky.mlady_4pl %] [%+ terms.chyba_4pl %]
    obvykle opravují, ověřují a přidělují úplně různí lidé. Pokud do jednoho
    hlášení zamícháte několik [% terms.chyba_2pl %], pravděpodobně ti správní
    lidé neobjeví vaše hlášení včas, případně vůbec. Jisté druhy [% terms.chyba_2pl %]
    jsou důležitější než jiné. Je nemožné přidělit hlášení správnou prioritu,
    pokud obsahuje čtyři různé problémy, každý s jinou závažností.</p>

    <p><b>No [% terms.bug %] is too trivial to report.</b> Unless you're 
    reading the source code, you can't see actual software [% terms.bugs %], 
    like a dangling pointer -- you'll see their visible manifestations, such 
    as the segfault when the application finally crashes. Severe software 
    problems can manifest themselves in superficially trivial ways. File them
    anyway.<br>
    </p>
  </blockquote>

  <p><b><a name="summary"></a>2. How and Why to Write Good [% terms.Bug %]
  Summaries</b></p>

  <blockquote>
    <p><b>You want to make a good first impression on the [% terms.bug %]
    recipient.</b> Just like a New York Times headline guides readers
    towards a relevant article from dozens of choices, will 
    your [% terms.bug %] summary suggest that your [% terms.bug %] report is 
    worth reading from dozens or hundreds of choices?</p>

    <p>Conversely, a vague [% terms.bug %] summary like <tt>install 
    problem</tt> forces anyone reviewing installation [% terms.bugs %] to waste 
    time opening up your [% terms.bug %] to determine whether it matters.</p>

    <p><b>Your [% terms.bug %] will often be searched by its summary.</b> Just 
    as you'd find web pages with Google by searching by keywords through 
    intuition, so will other people locate your [% terms.bugs %]. 
    Descriptive [% terms.bug %] summaries are
    naturally keyword-rich, and easier to find.</p>

    <p>For example, you'll find a [% terms.bug %] titled "<tt>Dragging icons 
    from List View to gnome-terminal doesn't paste path</tt>" if you search on
    "List", "terminal", or "path". Those search keywords wouldn't have
    found a [% terms.bug %] titled "<tt>Dragging icons doesn't paste</tt>".</p>

    <p>Ask yourself, "Would someone understand my [% terms.bug %] from just 
    this summary?" If so, you've written a fine summary.</p>

    <p><b>Don't write titles like these:</b></p>

    <ol>
      <li>"Can't install" - Why can't you install? What happens when you
      try to install?</li>

      <li>"Severe Performance Problems" - ...and they occur when you do
      what?</li>

      <li>"back button does not work" - Ever? At all?</li>
    </ol>

    <p><b>Good [% terms.bug %] titles:</b></p>

    <ol>
      <li>"1.0 upgrade installation fails if Mozilla M18 package present" -
      Explains problem and the context.</li>

      <li>"RPM 4 installer crashes if launched on Red Hat 6.2 (RPM 3)
      system" - Explains what happens, and the context.</li>
    </ol>
  </blockquote>
</blockquote>

[% INCLUDE global/footer.html.tmpl %]
