[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the header has already been printed.
  # error: string. The tag of the error, or the error message to be displayed
  # (deprecated). May contain HTML if it's an error message.
  #%]

[%# This is a list of all the possible user errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% DEFAULT title = "Chyba" %]

[% error_message = BLOCK %]
  [% IF    error == "account_creation_disabled" %]
    [% title = "Tvorba účtů zakázána" %]
    Tvorba účtů byla zakázána či omezena.
    <hr>
    Nové účty může vytvářet jen správce.

  [% ELSIF error == "account_disabled" %]
    [% title = "Účet pozastaven" %]
    [% disabled_reason FILTER none %]
    <hr>
    Pokud si myslíte, že váš účet by měl být obnoven,
    pošlete e-mail správci systému
    ([% Param("maintainer") %]) a vysvětlete, proč.

  [% ELSIF error == "account_exists" %]
    [% title = "Účet již existuje" %]
    Účet
    [% IF email %]
      se jménem [% email FILTER html %]
    [% ELSE %]
      s tímto jménem
    [% END %]
    již existuje.

  [% ELSIF error == "account_inexistent" %]
    [% title = "Neexistující účet" %]
    Účet s takovým jménem na [% terms.Bugzilla_6sg %] neexistuje.

  [% ELSIF error == "alias_has_comma_or_space" %]
    [% title = "Neplatné znaky v aliasu" %]
    Vámi zadaný alias <em>[% alias FILTER html %]</em> obsahuje
    čárky nebo mezery. Aliasy čárky ani mezery obsahovat nesmí,
    protože tyto znaky se používají pro oddělení aliasů v seznamech.
    Zvlote laskavě jiný alias, ve kterém nebudou čárky ani mezery.

  [% ELSIF error == "alias_in_use" %]
    [% title = "Alias už existuje" %]
    [% bug_link FILTER none %] již používá alias 
    <em>[% alias FILTER html %]</em>.  Zvolte si laskavě jiný.

  [% ELSIF error == "alias_is_numeric" %]
    [% title = "Alias je číselný" %]
    Pokusili jste se této [% terms.chyba_3sg %] nastavit alias <em>[% alias FILTER html %]</em>,
    ale aliasy nesmí být prostá čísla, neboť by si je pak bylo možno
    splést s ID [% terms.chyba_2sg %]. Zvolte laskavě jiný alias,
    ve kterém bude alespoň jedno písmeno.

  [% ELSIF error == "alias_too_long" %]
    [% title = "Příliš dlouhý alias" %]
    Aliasy nesmí být delší než 20 znaků.
    Zvolte laskavě kratší alias.

  [% ELSIF error == "auth_cant_create_account" %]
    [% title = "Nelze vytvořit účet" %]
    Tato služba používá autentizační schéma, které neumožňuje
    tvorbu nových účtů. Pro vytvoření nového účtu kontaktujte správce.

  [% ELSIF error == "authorization_failure" %]
    [% title = "Autorizace odmítnuta" %]
    Nemáte dovolen úkon [% action FILTER html %].

  [% ELSIF error == "attachment_access_denied" %]
    [% title = "Přístup odepřen" %]
    Nemáte oprávnění přistupovat k této příloze.

  [% ELSIF error == "bug_access_denied" %]
    [% title = "Přístup odepřen" %]
    Nemáte oprávnění přistupovat k [% terms.chyba_6sg %] #[% bug_id FILTER html %].

  [% ELSIF error == "bug_access_query" %]
    [% title = "Přístup odepřen" %]
    Nemáte oprávnění přistupovat k [% terms.chyba_6sg %] #[% bug_id FILTER html %].
    Pro zobrazení [% terms.chyba_2sg %] se musíte nejprve
    first <a href="show_bug.cgi?id=
                   [% bug_id FILTER url_quote %]&amp;GoAheadAndLogIn=1">přihlásit
    k účtu</a> s příslušnými oprávněními.

  [% ELSIF error == "buglist_parameters_required" %]
    [% title = "Vyžadovány parametry" %]
    Nemůžete hledat nebo ukládat hledání bez vyplnění hledaných parametrů.

  [% ELSIF error == "bugs_not_changed" %]
    [% title = BLOCK %][% terms.Chyby %] nebyly změněny[% END %]
    Hm, evidentně jste na vybraných [% terms.chyba_6pl %] nic nezměnili.

  [% ELSIF error == "chart_too_large" %]
    [% title = "Příliš velký graf" %]
    Je mi líto, ale maximální velikost grafu je 2000x2000.

  [% ELSIF error == "comment_required" %]
    [% title = "Vyžadován komentář" %]
    K této změně musíte dodat <b>komentář</b>.
    Napište laskavě pár slov o důvodech vaší změny.

  [% ELSIF error == "comment_too_long" %]
    [% title = "Příliš dlouhý komentář" %]
    Komentáře nesmí být delší než 65&nbsp;535&nbsp;znaků.

  [% ELSIF error == "dependency_loop_multi" %]
    [% title = "Nalezena smyčka závislostí" %]
    Následující [% terms.chyby %] by se objevily jak v části „závisí na“, tak
    v „blokuje“, pokud by byly tyto změny uloženy: [% both FILTER none %].
    Tím by vznikla kruhová závislost, což není dovoleno.

  [% ELSIF error == "dependency_loop_single" %]
    [% title = "Nalezena smyčka závislostí" %]
    Nemůžete se pokoušet o závislost [% terms.chyba_2sg %] na sobě.

  [% ELSIF error == "description_required" %]
    [% title = "Vyžadován popis" %]
    Musíte zadat popis [% terms.chyba_2sg %].

  [% ELSIF error == "dupe_of_self_disallowed" %]
    [% title = "$terms.Chyba nemůže být sobě duplikátem" %]
    Nemůžete označit [% terms.chyba_4sg %] jako svůj vlastní duplikát.

  [% ELSIF error == "email_change_in_progress" %]
    [% title = "Změna e-mailu již probíhá" %]
    Změna e-mailu už probíhá, zkontrolujte svou e-mailovou schránku.

  [% ELSIF error == "email_confirmation_failed" %]
    [% title = "Potvrzení e-mailové adresy se nepodařilo" %]
    Potvrzení e-mailové adresy se nepodařilo.

  [% ELSIF error == "entry_access_denied" %]
    [% title = "Přístup odepřen" %]
    Je mi líto, ale produkt <em>[% product FILTER html %]</em> neexistuje,
    nebo nemáte potřebná oprávnění pro zadávání
    nových [% terms.chyba_2pl %] tohoto produktu.

  [% ELSIF error == "file_not_specified" %]
    [% title = "Nebyl zadán soubor" %]
    Nezadali jste soubor, který má být připojen.

  [% ELSIF error == "file_too_large" %]
    [% title = "Příliš velký soubor" %]
    Snažíte se připojit soubor o velikosti [% filesize FILTER html %]&nbsp;kilobyte (KB).
    Soubory, které nejsou patchi, nesmí být větší než [% Param('maxattachmentsize') %]&nbsp;KB.
    Pokud se snažíte připojit obrázek, zkuste jej zkonvertovat na komprimovaný
    formát jako JPG či PNG, nebo jej umístěte někam na web a odkažte na něj
    z pole URL či komentáře u [% terms.chyba_2sg %].

  [% ELSIF error == "flag_requestee_unauthorized" %]
    [% title = "Žádost o příznak nepovolena" %]

    Požádali jste uživatele [% requestee.identity FILTER html %]
    o příznak <code>[% flag_type.name FILTER html %]</code> na [% terms.chyba_6sg %] 
    [% bug_id FILTER html -%]
    [% IF attach_id %], příloha [% attach_id FILTER html %][% END %], 
    ale příslušn[% terms.x_chyba_1sg %] byla omezena na uživatele v některých skupinách,
    a dotyčný uživatel není v žádné skupině, na které je toto omezení nastaveno.
    Požádejte laskavě někoho jiného, nebo povolte přístup k [% terms.chyba_3sg %] pro
    všechny uživatele na seznamu CC: a přidejte dotyčného uživatele na tento seznam.

  [% ELSIF error == "flag_requestee_unauthorized_attachment" %]
    [% title = "Neautorizovaný žádaný o příznak" %]
    Požádali jste uživatele [% requestee.identity FILTER html %]
    o příznak <code>[% flag_type.name FILTER html %]</code> na [%+ terms.chyba_6sg %] 
    [%+ bug_id FILTER html -%],
    příloha [% attach_id FILTER html %], ale příslušná příloha byla omezena na uživatele
    ve skupině [% Param("insidergroup") FILTER html %] a dotyčný uživatel v této skupině není.
    Požádejte laskavě někoho jiného, nebo požádejte správce o přidání dotyčného uživatele
    do této skupiny.

  [% ELSIF error == "flag_type_cc_list_invalid" %]
    [% title = "Neplatný seznam CC typu příznaku" %]
    Seznam CC [% cc_list FILTER html %] musí být kratší než 200 znaků.

  [% ELSIF error == "flag_type_description_invalid" %]
    [% title = "Neplatný popis typu příznaku" %]
    Popis musí být kratší než 32 KB.

  [% ELSIF error == "flag_type_name_invalid" %]
    [% title = "Neplatný název typu příznaku" %]
    Název <em>[% name FILTER html %]</em> musí mít 1–50 znaků
    a nesmí obsahovat žádné mezery ani čárky.

  [% ELSIF error == "format_not_found" %]
    [% title = "Formát nenalezen" %]
    Požadovaný formát <em>[% format FILTER html %]</em> u typu obsahu
    <em>[% ctype FILTER html %]</em> neexistuje.
    
  [% ELSIF error == "flag_type_sortkey_invalid" %]
    [% title = "Klíč řazení typu příznaku neplatný" %]
    Klíč řazení musí být celé číslo mezi 0 a 32767 včetně.
    Nemůže být <em>[% sortkey FILTER html %]</em>.
  
  [% ELSIF error == "illegal_at_least_x_votes" %]
    [% title = "Vaše hledání nedává smysl" %]
    Položka <em>Nejméně ___ hlasů</em> musí obsahovat prosté číslo.
    Zadali jste <tt>[% value FILTER html %]</tt>, což číslem není.
    
  [% ELSIF error == "illegal_attachment_edit" %]
    [% title = "Neautorizovaná činnost" %]
    Nemáte oprávnění upravovat přílohu [% attach_id FILTER html %].

  [% ELSIF error == "illegal_attachment_edit_bug" %]
    [% title = "Neautorizovaná činnost" %]
    Nemáte oprávnění upravovat přílohy [% terms.chyba_2sg %] 
    [%+ bug_id FILTER html %].
         
  [% ELSIF error == "illegal_attachment_is_patch" %]
    [% title = "Vaše hledání nedává smysl" %]
    Jediné platné hodnoty pro pole <em>Příloha je patch</em> jsou 0 a 1.
         
  [% ELSIF error == "illegal_change" %]
    [% title = "Nepovoleno" %]
    Pokusili jste se změnit pole
    <strong>[% field_descs.$field FILTER html %]</strong>
    z <em>[% oldvalue FILTER html %]</em> na
    <em>[% newvalue FILTER html %]</em>, 
    ale toto pole smí měnit jen vlastník či ohlašovatel [% terms.chyba_2sg %]
    nebo uživatel s dostatečnými právy.
  
  [% ELSIF error == "illegal_changed_in_last_x_days" %]
    [% title = "Vaše hledání nedává smysl" %]
    Položka <em>Změněno v posledních ___ dnech</em> musí obsahovat prosté číslo.
    Zadali jste <tt>[% value FILTER html %]</tt>, což číslem není.
    
  [% ELSIF error == "illegal_date" %]
    [% title = "Neplatné datum" %]
    „<tt>[% date FILTER html %]</tt>“ není platné datum.
    
  [% ELSIF error == "illegal_email_address" %]
    [% title = "Neplatný e-mail" %]
    Vámi zadaná e-mailová adresa (<b>[% addr FILTER html %]</b>) 
    neprošla naší kontrolou.
    [%+ Param('emailregexpdesc') %]
    Také nesmí obsahovat žádné z následujících speciálních znaků:
    <tt>\ ( ) &amp; &lt; &gt; , ; : &quot; [ ]</tt>, ani žádné bílé znaky.
    
  [% ELSIF error == "illegal_frequency" %]
    [% title = "Příliš častý" %]
    Pokud nejste správce, nemůžete vytvářet tabulky, které se
    provádějí častěji než jednou za [% minimum FILTER html %] d.
    
  [% ELSIF error == "illegal_group_control_combination" %]
    [% title = "Neplatná kombinace nastavení skupin" %]
    Vaše zadaná kombinace nastavení skupiny „[% groupname FILTER html %]“
    je neplatná.

  [% ELSIF error == "illegal_is_obsolete" %]
    [% title = "Vaše hledání nedává smysl" %]
    Jediné platné hodnoty pro položku <em>Příloha je neplatná</em> jsou 0 a 1.

  [% ELSIF error == "illegal_query_name" %]
    [% title = "Chybný název hledání" %]
    Název hledání nesmí obsahovat žádný z následujících znaků:
    &lt;, &gt;, &amp;.

  [% ELSIF error == "illegal_series_creation" %]
    Nejste oprávněni vytvářet tabulky.
        
  [% ELSIF error == "illegal_series_edit" %]
    Nejste oprávněni měnit tuto tabulku. K tomu musíte být
    její autor nebo správce.
        
  [% ELSIF error == "insufficient_data" %]
    [% title = "Nedostatečná data" %]
    Žádná vybraná tabulka neobsahuje žádná data, takže graf nelze vykreslit.
        
  [% ELSIF error == "insufficient_data_points" %]
    Dosud není k dispozici dostatek dat pro vytvoření grafu.
        
  [% ELSIF error == "insufficient_privs_for_multi" %]
    [% title = "Nedostatečná oprávnění" %]
    Je mi líto, ale pro hromadnou editaci [% terms.chyba_2pl %]
    nemáte dostatečná oprávnění.
    
  [% ELSIF error == "invalid_attach_id" %]
    [% title = "Neplatné ID přílohy" %]
    ID [% attach_id FILTER html %] není platné označení přílohy.

  [% ELSIF error == "invalid_bug_id_non_existent" %]
    [% title = BLOCK %]Neplatné ID [% terms.chyba_2sg %][% END %]
    [% terms.Chyba %] #[% bug_id FILTER html %] neexistuje.
    
  [% ELSIF error == "invalid_bug_id_or_alias" %]
    [% title = BLOCK %]Neplatné ID [% terms.chyba_2sg %][% END %]
    [% IF bug_id %]
      '[% bug_id FILTER html %]' není platné číslo [% terms.chyba_2sg %]
      [% IF Param("usebugaliases") %]
        , ani alias k nějakému číslu [% terms.chyba_2sg %]
      [% END %].
    [% ELSE %]
      [% IF field %]
        Položka „[% field_descs.$field FILTER html %]“ nesmí
	být prázdná.
      [% END %]
      Musíte zadat platné číslo [% terms.chyba_2sg %]!
    [% END %]
    <noscript>
      Pokud se pokoušíte použít QuickSearch, musíte ve svém prohlížeči
      povolit JavaScript.
    </noscript>

  [% ELSIF error == "invalid_changedsince" %]
    [% title = "Neplatná položka „Změněno od“" %]
    Hodnota položky „změněno od“, „[% changedsince FILTER html %]“, musí
    být celé nezáporné číslo.

  [% ELSIF error == "invalid_content_type" %]
    [% title = "Neplatný typ obsahu" %]
    Typ obsahu <em>[% contenttype FILTER html %]</em> není platný.
    Platné typy mají tvar <em>foo/bar</em>, kde <em>foo</em>
    je jedno z <em>application, audio, image, message, model, multipart,
    text, video</em>.
    
  [% ELSIF error == "invalid_context" %]
    [% title = "Neplatný kontext" %]
    Kontext [% context FILTER html %] není platný (musí jím být číslo,
    „file“ nebo „patch“).

  [% ELSIF error == "invalid_format" %]
    [% title = "Neplatný formát" %]
    Formát „[% format FILTER html %]“ je neplatný (musí jím byt jedno z 
    [% FOREACH my_format = formats %]
      „[% my_format FILTER html %]“
    [% END %]
    ).

  [% ELSIF error == "invalid_maxrows" %]
    [% title = "Neplatný maximální počet řádků" %]
    Maximální počet řádků, „[% maxrows FILTER html %]“, musí být být
    kladné celé číslo.

  [% ELSIF error == "invalid_product_name" %]
    [% title = "Neplatný název produktu" %]
    Název produktu „[% product FILTER html %]“ není platný, nebo takový produkt
    neexistuje.
    
  [% ELSIF error == "invalid_username" %]
    [% title = "Neplatné uživatelské jméno" %]
    Žádný uživatel nemá jméno <tt>[% name FILTER html %]</tt>.
    Buď jste jméno zadali nepřesně, nebo tato osoba nemá
    na [% terms.Bugzilla_6sg %] zaregistrovaný účet.

  [% ELSIF error == "invalid_username_or_password" %]
    [% title = "Neplatné uživatelské jméno či heslo" %]
    Uživatelské jméno a heslo, které jste zadali, nejsou platné.

  [% ELSIF error == "keyword_access_denied" %]
    [% title = "Přístup zamítnut" %]
    Je mi líto, ale nejste členem skupiny „editkeywords“, takže
    nemáte dovoleno přidávat, měnit, ani mazat klíčová slova.

  [% ELSIF error == "keyword_already_exists" %]
    [% title = "Klíčové slovo již existuje" %]
    Klíčové slovo s názvem [% name FILTER html %] již existuje.

  [% ELSIF error == "keyword_blank_description" %]
    [% title = "Klíčové slovo musí mít popis" %]
    U klíčového slova musíte zadat neprázdný popis.
    
  [% ELSIF error == "keyword_blank_name" %]
    [% title = "Klíčové slovo musí mít název" %]
    U klíčového slova musíte zadat neprázdný název.
     
  [% ELSIF error == "keyword_invalid_name" %]
    [% title = "Neplatný název klíčového slova" %]
    V názvu klíčového slova nesmíte používat čárky ani bílé znaky.
     
  [% ELSIF error == "login_needed_for_password_change" %]
    [% title = "Vyžadováno přihlašovací jméno" %]
    Při žádání o změnu hesla musíte zadat své přihlašovací jméno.

  [% ELSIF error == "milestone_required" %]
    [% title = "Vyžadován cílový milník" %]
    Pokud chcete [% terms.chyba_4sg %] [%+ bug_id FILTER html %] převzít,
    musíte zadat cílový milník. Součástí převzetí [% terms.chyba_2sg %] je
    poskytnutí odhadu, kdy bude opraven[% koncovky.verb %].

  [% ELSIF error == "misarranged_dates" %]
    [% title = "Přehozená data" %]
    Vaše počáteční datum ([% datefrom FILTER html %]) je až po
    vašem koncovém datu ([% dateto FILTER html %]).
    
  [% ELSIF error == "missing_attachment_description" %]
    [% title = "Chybí popis přílohy" %]
    K příloze musíte dodat popis.
    
  [% ELSIF error == "missing_category" %]
    [% title = "Chybí kategorie" %]
    Pro tuto tabulku jste nezadali kategorii.
                
  [% ELSIF error == "missing_content_type" %]
    [% title = "Chybějící typ obsahu" %]
     Žádali jste, aby [% terms.Bugzilla %] automaticky detekovala
     typ obsahu, ale váš prohlížeč typ obsahu při zasílání souboru
     neurčil, takže ho musíte zadat ručně.
                
  [% ELSIF error == "missing_content_type_method" %]
    [% title = "Nevyplněný způsob určení typu obsahu" %]
    Musíte si vybrat metodu, jak se má určit typ obsahu, buď
    <em>autodetekce</em>, <em>vybrat ze seznamu</em>, nebo <em>zadat
    ručně</em>.
        
  [% ELSIF error == "missing_cookie" %]
    [% title = "Chybějící cookie" %]
    Je mi líto, ale zdá se, že se ztratila cookie, která
    uchovávala výsledky vašeho posledního hledání. Obávám se, že
    budete muset začít od začátku <a href="query.cgi">hledání</a>.
          
  [% ELSIF error == "missing_datasets" %]
    [% title = "Nebyly zvoleny žádné tabulky" %]
    Pro vykreslení musíte vybrat nejméně jednu tabulku.
    
  [% ELSIF error == "missing_email_type" %]
    [% title = "Vaše hledání nedává smysl" %]
    Musíte určit nejméně jedno pole, ve kterém se má hledat
    <tt>[% email FILTER html %]</tt>.
    
  [% ELSIF error == "missing_frequency" %]
    [% title = "Chybějící frekvence" %]
    U této tabulky jste nezadali platnou frekvenci.
                
  [% ELSIF error == "missing_name" %]
    [% title = "Chybějící název" %]
    U této tabulky jste nezadali název.
                
  [% ELSIF error == "missing_query" %]
    [% title = "Chybějící hledání" %]
    Neexistuje hledání s názvem <em>[% queryname FILTER html %]</em>.
        
  [% ELSIF error == "must_be_patch" %]
    [% title = "Příloha musí být patch" %]
    Příloha #[% attach_id FILTER html %] musí být patch.

  [% ELSIF error == "missing_subcategory" %]
    [% title = "Chybějící podkategorie" %]
    U této tabulky jste nezadali podkategorii.
                
  [% ELSIF error == "need_component" %]
    [% title = "Vyžadována komponenta" %]
    Pro určení nového vlastníka [% terms.tatochyba_2pl %] musíte určit komponentu.

  [% ELSIF error == "need_product" %]
    [% title = "Vyžadován produkt" %]
    Pro určení nového vlastníka [% terms.tatochyba_2pl %] musíte určit produkt.

  [% ELSIF error == "need_quip" %]
    [% title = "Vyžadován vtípek" %]
    Laskavě zadejte do textového pole vtípek.

  [% ELSIF error == "new_password_missing" %]
    [% title = "Chybí nové heslo" %]
    Musíte zadat nové heslo.

  [% ELSIF error == "no_axes_defined" %]
    [% title = "Nejsou definovány osy" %]
    Neurčili jste žádné osy, které by měly být vykresleny.

  [% ELSIF error == "no_bugs_chosen" %]
    [% title = BLOCK %]Nebyl[% koncovky.verb_pl %] vybrán[% koncovky.verb_pl %] žádn[% koncovky.mlady_1pl %] [% terms.chyby %][% END %]
    Evidentně jste nezvolili žádn[% koncovky.mlady_1pl %] [% terms.chyby %],
    kter[% koncovky.mlady_1pl %] by měl[% koncovky.verb_pl %] být
    upraven[% koncovky.verb_pl %].

  [% ELSIF error == "no_component_change_for_multiple_products" %]
    [% title = "Úkon není dovolen" %]
    Nemůžete měnit komponenty v seznamu [% terms.chyba_2pl %], ve kterém se
    vyskytuje více než jeden produkt.

  [% ELSIF error == "no_components" %]
    [% title = "Chybí komponenty" %]
    Je mi líto, ale aby v tomto produktu šlo vytvářet [% terms.chyba_4pl %],
    je v něm potřeba definovat nejméně jednu komponentu.
    [% IF UserInGroup("editcomponents") %]
      <a href="editcomponents.cgi?product=[% product FILTER url_quote %]">Vytvořit
      novou komponentu</a>.
    [% ELSE %]
       Kontaktujte laskavě správce ([% Param("maintainer") %]) a předejte
       mu název produktu, ve kterém jste se pokoušeli vytvořit [% terms.chyba_4sg %].
    [% END %]

  [% ELSIF error == "no_dupe_stats" %]
    [% title = "Nepodařilo se najít statistiku o duplikátech" %]
    Pro dnešek ([% today FILTER html %]) ani včerejšek neexistuje
    žádná statistika o duplikátech.

  [% ELSIF error == "no_dupe_stats_error_today" %]
    [% title = "Chyba při čtení souboru s dnešními duplikáty" %]
    Při otevírání souboru s dnešními duplikáty došlo k chybě: [% error_msg FILTER html %].

  [% ELSIF error == "no_dupe_stats_error_whenever" %]
    [% title = "Chyba při čtení souboru s předchozími duplikáty" %]
    Při otevírání souboru s duplikáty z před [% changedsince FILTER html %] dní
    ([% whenever FILTER html %]) došlo k chybě: [% error_msg FILTER html %].

  [% ELSIF error == "no_dupe_stats_error_yesterday" %]
    [% title = "Error Reading Yesterday's Dupes File" %]
    Pro dnešek ([% today FILTER html %]) neexistuje
    žádná statistika o duplikátech a při otevírání souboru
    se včerejšími duplikáty došlo k chybě: [% error_msg FILTER html %].

  [% ELSIF error == "no_html_in_quips" %]
    [% title = "HTML je ve vtípcích zakázáno" %]
    Je mi líto, ale z bezpečnostních důvodů není ve vtípcích dovoleno
    používat HTML tagy.

  [% ELSIF error == "no_new_quips" %]
    [% title = "Nelze přidávat vtípky" %]
    Na tomto serveru není dovoleno přidávat nové vtípky.

  [% ELSIF error == "no_page_specified" %]
    [% title = "Nebyla určena stránka" %]
    Neurčili jste ID stránky, která se má zobrazit.

  [% ELSIF error == "no_products" %]
    [% title = "Chybí produkty" %]
    Buď nejsou definovány žádné produkty, do kterých lze zadávat [% terms.chyba_4pl %],
    nebo k žádným z nich nemáte přístup.

  [% ELSIF error == "number_not_numeric" %]
    [% title = "Vyžadována číselná hodnota" %]
    Hodnota „[% num FILTER html %]“ položky
    <em>[% field_descs.$field FILTER html %]</em> není
    číselná hodnota.

  [% ELSIF error == "number_too_large" %]
    [% title = "Příliš velké číslo" %]
    Hodnota „[% num FILTER html %]“ polžky
    <em>[% field_descs.$field FILTER html %]</em>
    přesahuje maximální dovolenou hodnotu „[% max_num FILTER html %]“.

  [% ELSIF error == "number_too_small" %]
    [% title = "Příliš malé číslo" %]
    Hodnota „[% num FILTER html %]“ polžky
    <em>[% field_descs.$field FILTER html %]</em>
    je menší než minimální dovolená hodnota „[% max_num FILTER html %]“.

  [% ELSIF error == "old_password_incorrect" %]
    [% title = "Původní heslo nesouhlasí" %]
    Nezadali jste správné původní heslo.

  [% ELSIF error == "old_password_required" %]
    [% title = "Vyžadováno původní heslo" %]
    Pro změnu e-mailové adresy je vyžadováno zadání původního hesla.

  [% ELSIF error == "passwords_dont_match" %]
    [% title = "Hesla nesouhlasí" %]
    Zadaná dvě hesla se liší.

  [% ELSIF error == "password_too_long" %]
    [% title = "Příliš dlouhé heslo" %]
    Zadané heslo je delší než 16 znaků. Heslo smí být nejvýše
    16 znaků dlouhé.

  [% ELSIF error == "password_too_short" %]
    [% title = "Příliš krátké heslo" %]
    Zadané heslo je kratší než tři znaky. Heslo musí obsahovat
    nejméně tři znaky.

  [% ELSIF error == "patch_too_large" %]
    [% title = "Příliš velký soubor" %]
    Soubor, který chcete použít jako přílohu, je příliš velký
    ([% filesize FILTER html %] KB). Patche mohou mít
    maximálně [% Param('maxpatchsize') %] KB. Zkuste svůj
    patch rozdělit na několik dílů.

  [% ELSIF error == "product_disabled" %]
    [% title = BLOCK %]Tento produkt je uzavřen zadávání [% terms.chyba_2pl %][% END %]
    Je mi líto, ale do produktu <em>[% product FILTER html %]</em>
    nyní nelze zadávat [% terms.chyba_4pl %].

  [% ELSIF error == "product_edit_denied" %]
    [% title = "Nedostatečná oprávnění pro editaci produktu" %]
    Nejste oprávněni k editaci [% terms.chyba_2pl %]
    v produktu [% product FILTER html %].

  [% ELSIF error == "query_name_missing" %]
    [% title = "Nebyl zadán název hledání" %]
    Pro své hledání musíte uvést název.

  [% ELSIF error == "quips_disabled" %]
    [% title = "Vtípky vypnuty" %]
    Používání vtípků je vypnuto.

  [% ELSIF error == "quips_edit_denied" %]
    [% title = "Přístup odepřen" %]
    Nemáte oprávnění upravovat vtípky.

  [% ELSIF error == "reassign_to_empty" %]
    [% title = "Neplatná změna přidělení" %]
    Pro změnu přidělení [% terms.chyba_2sg %] musíte uvést
    adresu nového vlastníka. Pokud jste jste pole
    „Změnit přidělení [% terms.chyba_2sg %] na“ ručně
    nevyprázdnili, [% Param("browserbugmessage") %]

  [% ELSIF error == "report_access_denied" %]
    [% title = "Přístup odepřen" %]
    Pro prohlížení reportů tohoto produktu nemáte dostatečná oprávnění.

  [% ELSIF error == "require_component" %]
    [% title = "Vyžadována komponenta" %]
    Pro zadání [% terms.chyba_2sg %] musíte zvolit komponentu. Pokud
    si nejste jisti, zkuste alespoň hádat.

  [% ELSIF error == "require_new_password" %]
    [% title = "Vyžadováno nové heslo" %]
    Nemůžete si změnit heslo, když si nevyberete nové.

  [% ELSIF error == "require_summary" %]
    [% title = "Vyžadováno shrnutí" %]
    U [% terms.chyba_2sg %] musíte zadat shrnutí.

  [% ELSIF error == "resolving_remaining_time" %]
    [% title = "Nelze vyřešit a ponechat zbývající čas" %]
    Nemůžete [% terms.chyba_4sg %] označit jako vyřešenou, a přitom
    ponechat zbývající čas. Pokud chcete [% terms.chyba_4sg %] vyřešit,
    nastavte pole <em>Zbývajících hodin</em> na nulu.

  [% ELSIF error == "sanity_check_access_denied" %]
    [% title = "Přístup odepřen" %]
    Pro kontrolu platnosti nemáte dostatečná oprávnění.

  [% ELSIF error == "search_content_without_matches" %]
    [% title = "Neplatné hledání" %]
    Pole „obsah“ lze používat pouze při hledání „odpovídá“
    a hledání „odpovídá“ lze používat pouze s polem „obsah“.

  [% ELSIF error == "series_already_exists" %]
    [% title = "Tabulka již existuje" %]
      Tabulka se jménem <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      již existuje.
    
  [% ELSIF error == "sidebar_supports_mozilla_only" %]
    Je mi líto, ale postranní lišta podporuje pouze prohlížeče založené na
    Mozille. <a href="http://www.mozilla.org/">Pořiďte si jej ještě dnes</a>. :-)

  [% ELSIF error == "still_unresolved_bugs" %]
    [% IF dependency_count == 1 %]
      Na [% terms.chyba_6sg %] #<a href="show_bug.cgi?id=[% dependencies.0.bug_id FILTER none %]">[% dependencies.0.bug_id FILTER none %]</a>
      stále závisí [% dependencies.0.dependencies FILTER html %] nevyřešen
      [% IF dependencies.0.dependencies == 1 %]
        [% koncovky.mlady_2sg %] [%+ terms.chyba_2sg %]
      [% ELSE %]
        [% koncovky.mlady_2pl %] [%+ terms.chyba_2pl %]
      [% END %]. Zobrazit
      <a href="showdependencytree.cgi?id=[% dependencies.0.bug_id FILTER none %]">strom závislostí</a>.
    [% ELSE %]
      [% IF dependency_count >= 2 && dependency_count <= 4 %]
        Ještě existují [% dependency_count FILTER none %] [% terms.chyby_1pl %] s nevyřešenými
        závislostmi.
      [% ELSE %]
        Ještě existuje [% dependency_count FILTER none %] [% terms.chyby_2pl %] s nevyřešenými
        závislostmi.
      [% END %]
      <br>
      [% FOREACH bug = dependencies %]
        [% terms.Chyba %] #<a href="show_bug.cgi?id=[% bug.bug_id FILTER none %]">[% bug.bug_id FILTER none %]</a>
	má [% bug.dependencies FILTER html %]
        [% IF bug.dependencies == 1 %]
          nevyřešenou závislost
        [% ELSIF bug.dependencies >= 2 && bug.dependencies <= 4 %]
	  nevyrešené závislosti
        [% ELSE %]
          nevyřešených závislostí
        [% END %]
        (<a href="showdependencytree.cgi?id=[% bug.bug_id FILTER none %]">Strom závislostí</a>).<br>
      [% END %]
    [% END %]

  [% ELSIF error == "too_many_votes_for_bug" %]
    [% title = "Neplatné hlasování" %]
    U jedn[% koncovky.mlady_2sg %] [%+ terms.chyba_2sg %] můžete v produktu
    <tt>[% prod FILTER html %]</tt> použít nejvýše [% max FILTER html %]
    [% IF max == 1 %]
      hlas
    [% ELSIF max >= 2 && max <= 4 %]
      hlasy
    [% ELSE %]
      hlasů
    [% END %], ale zadali jste [% votes FILTER html %].

  [% ELSIF error == "too_many_votes_for_product" %]
    [% title = "Neplatné hlasování" %]
    Pokusili jste se rozdělit [% votes FILTER html %]
    [% IF votes == 1 %]
      hlas
    [% ELSIF votes >= 2 && votes <= 4 %]
      hlasy
    [% ELSE %]
      hlasů
    [% END %], což přesahuje limit [% max FILTER html %] platný
    pro produkt <tt>[% prod FILTER html %]</tt>.

  [% ELSIF error == "token_inexistent" %]
    [% title = "Žeton neexistuje" %]
    Žeton, který jste zadali, buď neexistuje, již vypršel, nebo
    byl zrušen.

  [% ELSIF error == "too_soon_for_new_token" %]
    [% title = "Příliš brzy na nový žeton" %]
    O nové heslo jste požádali příliš brzy po minulé
    žádosti. Laskavě chvíli počkejte a zkuste to znovu.

  [% ELSIF error == "unknown_keyword" %]
    [% title = "Neznámé klíčové slovo" %]
    <code>[% keyword FILTER html %]</code> není platné klíčové slovo.
    Můžete si prohlédnout <a href="describekeywords.cgi">seznam existujících
    klíčových slov</a>.

  [% ELSIF error == "unknown_tab" %]
    [% title = "Neznámá záložka" %]
    <code>[% current_tab_name FILTER html %]</code> není platný název záložky.

  [% ELSIF error == "votes_must_be_nonnegative" %]
    [% title = "Počet hlasů musí být nezáporný" %]
    Ve svém hlasování můžete používat pouze nezáporná čísla.

  [% ELSIF error == "wrong_token_for_cancelling_email_change" %]
    [% title = "Chybný žeton" %]
    Tento žeton nelze použít pro zrušení změny e-mailové adresy.

  [% ELSIF error == "wrong_token_for_changing_passwd" %]
    [% title = "Chybný žeton" %]
    Tento žeton nelze použít pro změnu hesla.

  [% ELSIF error == "wrong_token_for_confirming_email_change" %]
    [% title = "Chybný žeton" %]
    Tento žeton nelze použít pro změnu e-mailové adresy.

  [% ELSIF error == "value_out_of_range" %]
    [% title = "Hodnota mimo povolený rozsah" %]
    Hodnota pole <em>[% field_descs.$field FILTER html %]</em> je
    mimo rozsah.

  [% ELSIF error == "zero_length_file" %]
    [% title = "Soubor je prázdný" %]
    Snažíte se jako přílohu nahrát prázdný soubor!

  [% ELSE %]
    [% title = "Chybové hlášení nebylo nalezeno" %]
    Text hlášení o uživatelské chybě <code>[% error FILTER html %]</code> nebyl
    nalezen. Laskavě zašlete e-mail na [% Param("maintainer") %] a popište kroky,
    které vedly k této zprávě.
  [% END %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

<table cellpadding="20">
  <tr>
    <td bgcolor="#ff0000">
      <font size="+2">
        [% error_message FILTER none %]
      </font>
    </td>
  </tr>
</table>

<p>
  Stiskněte laskavě tlačítko <b>Zpět</b> a zkuste to znovu.
</p>

[%# If a saved search fails, people want the ability to edit or delete it.
  # This is the best way of getting information about that possible saved
  # search from any error call location. %]

[% USE Bugzilla %]
[% namedcmd = Bugzilla.cgi.param("namedcmd") %]
[% IF namedcmd AND error != "missing_query" %]
  <p>
    Případně také můžete
    <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
                  [% namedcmd FILTER html %]">zapomenout</a>

    [% FOREACH q = Bugzilla.user.queries %]
      [% IF q.name == namedcmd %]
        nebo <a href="query.cgi?[% q.query FILTER html %]">upravit</a>
      [% END %]
    [% END %]

    uložené hledání s názvem „[% namedcmd FILTER html %]“.
  </p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
