[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # products: list of strings. The products this user can see.
  #
  # sortby: string. the column on which we are sorting the buglist.
  # reverse: boolean. True if we are reversing the current sort.
  # maxrows: integer. Max number of rows to display.
  # changedsince: integer. The number of days ago for the changedsince column.
  # openonly: boolean. True if we are only showing open bugs.
  # query_products: list of strings. The set of products we check for dups.
  #
  # Additionally, you need to fulfill the interface to
  # duplicates-table.html.tmpl.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% IF query_products.size %]
  [% title = "Nejčastěji hlášen${koncovky.mlady_1pl} ${terms.chyby} pro ${query_products.join(', ')}" %]
[% ELSE %]
  [% title = "Nejčastěji hlášen${koncovky.mlady_1pl} ${terms.chyby}" %]
[% END%]

[% PROCESS global/header.html.tmpl
   style = ".resolved { background-color: #d9d9d9; color: #000000; }"
%]

<p>
  <a href="#explanation">Co znamenají tyhle údaje?</a>
  <br>
  <a href="#params">Změnit parametry</a>
</p>

[% PROCESS "reports/duplicates-table.html.tmpl" %]

[%# *** Parameters *** %]

[% bug_ids_string = vis_bug_ids.join(',') %]

<h3><a name="params">Změnit parametry</a></h3>

<form method="get" action="duplicates.cgi">
  <input type="hidden" name="sortby" value="[% sortby FILTER html %]">
  <input type="hidden" name="reverse" value="[% reverse %]">
  <input type="hidden" name="bug_id" value="[% bug_ids_string %]">
  <table>
    <tr>
      <td>Při řazení nebo výběru, pracovat s:</td>
      <td>
        <input type="radio" name="sortvisible" id="entirelist" value="0"
          [% "checked" IF NOT sortvisible %]>
        <label for="entirelist">
          celým seznamem
        </label>
        <br>
        <input type="radio" name="sortvisible" id="visiblelist" value="1"
          [% "checked" IF sortvisible %]>
        <label for="visiblelist">
          aktuálně zobrazeným seznamem
        </label>
      </td>
      <td rowspan="4" valign="top">Omezit na produkty:</td>
      <td rowspan="4" valign="top">
        <select name="product" size="5" multiple="multiple">
          [% FOREACH p = products %]
            <option name="[% p FILTER html %]"
            [% " selected" IF lsearch(query_products, p) != -1 %]
            >[% p FILTER html %]</option>
          [% END %]
        </select>
      </td>
     </tr>

    <tr>
      <td>Maximálně řádků:</td>
      <td>
        <input size="4" name="maxrows" value="[% maxrows %]">
      </td>
    </tr>

    <tr>
      <td>Změna sloupce je změna v posledních:</td>
      <td>
        <input size="4" name="changedsince" value="[% changedsince %]"> dnech
      </td>
    </tr>

    <tr>
      <td>
        <label for="openonly">
          Pouze otevřen[% koncovky.mlady_1pl %] [%+ terms.chyby %]:
        </label>
      </td>
      <td>
        <input type="checkbox" name="openonly" id="openonly" value="1"
          [% "checked" IF openonly %]>
      </td>
    </tr>

  </table>

  <input type="submit" value="Změnit">
</form>

<form method="post" action="buglist.cgi">
  <input type="hidden" name="bug_id" value="[% bug_ids_string %]">
  <input type="hidden" name="order" value="Použít stejné řazení jako minule">
  Nebo mi zobrazte totéž ve formě <input type="submit" value="seznamu [% terms.chyba_2pl %]">.
  (Poznámka: pořadí se může lišit.)
</form>

<hr>

<b>
  <a name="explanation">Co to znamená „Nejčastěji hlášen[% koncovky.mlady_1pl %] [%+ terms.chyby %]“?</a>
</b>

<blockquote>
  Stránka „Nejčastěji hlášen[% koncovky.mlady_1pl %] [%+ terms.chyby %]“ obsahuje seznam všech
  otevřených [% terms.2pl %], pro kter[% koncovky.mlady_4pl %] existuje nejvíce opakovaných
  hlášení. Tento seznam se generuje z databáze [% terms.Bugzilla_2sg %] automaticky každých
  24 hodin tak, že se počítají všechny přímé a nepřímé duplikáty všech [% terms.chyba_2pl %].
  Cílem takto poskytovaných informací je omezit množství duplikátů zadávaných do [% terms.Bugzilla_2sg %],
  což ušetří čas oddělení QA.
</blockquote>

<b>Jak tento seznam používat?</b>

<ul>
  <li>Projděte si seznam.</li>
  <li>Pokud je váš problém v seznamu:</li>

  <ul>
    <li>Klikněte na číslo [% terms.chyba_2sg %], abyste se ujistili, že se jedná
      o stejn[% koncovky.mlady_4sg %] [%+ terms.chyba_4sg %], a pokud máte
      nějaké dodatečné informace, přidejte dodatečný komentář.
    </li>
  </ul>

  <li>Pokud váš problém v seznamu není:</li>

  <ul>
    <li><a href="query.cgi">Pokuste se pomocí hledání nalézt podobn[% koncovky.mlady_4sg %] [%+ terms.chyba_4sg %]</a>,
        jestli již byl[% koncovky.verb %] nahlášen[% koncovky.verb %].</li>
    <li>Pokud [% terms.tatochyba_4sg %] v [% terms.Bugzilla_6sg %] najdete,
        můžete přidat komentář s novými či dalšími údaji, které máte k dispozici.</li>
    <li>Pokud [% terms.tatochyba_4sg %] v databázi [% terms.Bugzilla_2sg %] nejste schopni nalézt,
        <a href="enter_bug.cgi">zadejte nov[% koncovky.mlady_4sg %] [%+ terms.chyba_4sg %]</a>.</li>
  </ul>
</ul>

[% PROCESS global/footer.html.tmpl %]
