[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # This template has no interface. It's a list of the available report
  # types in Bugzilla.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Laboratoř tabulek a reportů"
%]

<p>
  [% terms.Bugzilla %] vám umožňuje prohlížet a sledovat stav databáze [% terms.chyba_2pl %] mnoha
  zajímavými způsoby.
</p>

<h2>Aktuální situace</h2>

<ul>
  <li>
    <strong><a href="query.cgi">Hledání</a></strong> – vypisuje seznamy [% terms.chyba_2pl %].
  </li>
  <li>
    <strong>
      <a href="query.cgi?format=report-table">Tabulkové reporty</a>
    </strong> – tabulky [% terms.chyba_2pl %] v jednom, dvou nebo třech rozměrech, v HTML či CSV.
  </li>
  <li>
    <strong>
      <a href="query.cgi?format=report-graph">Grafické reporty</a>
    </strong> – čárové, pruhové a koláčové grafy
  </li>
</ul>

<h2>Změny s časem</h2>

<ul>
  <li>
    <strong><a href="reports.cgi">Starší grafy</a></strong> – vykreslit
    stav a řešení [% terms.chyba_2pl %] u každého produktu v závislosti na čase
  </li>
  [% IF UserInGroup(Param("chartgroup")) %]
    <li>
      <strong><a href="chart.cgi">Nové grafy</a></strong> – vykreslení závislosti
      libovolného hledání na čase. Mnohem silnější funkce.
    </li>
  [% END %]
</ul>

[% PROCESS global/footer.html.tmpl %]
