[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Joel Peshkin <bugreport@peshkin.net>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% filt_product = product FILTER html %]
[% PROCESS global/header.html.tmpl
  title = "Upravit nastavení skupin pro „$filt_product“"
%]

<form method="post" action="editproducts.cgi">
  <input type="hidden" name="action" value="updategroupcontrols">
  <input type="hidden" name="product" value="[% filt_product %]">

  <table id="form" cellspacing="0" cellpadding="4" border="1">
    <tr bgcolor="#6666ff">
      <th>Skupina</th>
      <th>Zadávání</th>
      <th>Členové</th>
      <th>Ostatní</th>
      <th>SmíEditovat</th>
      <th>[% terms.Chyby %]</th>
    </tr>
    [% FOREACH group = groups %]
      [% IF group.isactive == 0 AND group.bugcount > 0 %]
        <tr bgcolor="#bbbbbb">
          <td>
            [% group.name FILTER html %]
          </td>
          <td align="center" colspan=4>
            Vypnuto
          </td>
          <td>
            [% group.bugcount %]
          </td>
        <tr>
      [% ELSIF group.isactive != 0 %]
        <tr>
          <td>
            [% group.name FILTER html %]
          </td>
          <td>
            <input type=checkbox value=1 name=entry_[% group.id %]
            [% " checked=\"checked\"" IF group.entry %]>
          </td>
          <td>
            <select name="membercontrol_[% group.id %]">
              <option value=[% const.CONTROLMAPNA %]
                [% " selected=\"selected\""
                  IF group.membercontrol == const.CONTROLMAPNA %]
                >Nic
              </option>
              <option value=[% const.CONTROLMAPSHOWN %]
                [% " selected=\"selected\""
                  IF group.membercontrol == const.CONTROLMAPSHOWN %]
                >Zobrazená
              </option>
              <option value=[% const.CONTROLMAPDEFAULT %]
                [% " selected=\"selected\""
                  IF group.membercontrol == const.CONTROLMAPDEFAULT %]
                >Implicitní
              </option>
              <option value=[% const.CONTROLMAPMANDATORY %]
                [% " selected=\"selected\""
                  IF group.membercontrol == const.CONTROLMAPMANDATORY %]
                >Povinná
              </option>
            </select>
          </td>
          <td>
            <select name="othercontrol_[% group.id %]">
              <option value=[% const.CONTROLMAPNA %]
                [% " selected=\"selected\""
                  IF group.othercontrol == const.CONTROLMAPNA %]
                >Nic
              </option>
              <option value=[% const.CONTROLMAPSHOWN %]
                [% " selected=\"selected\""
                  IF group.othercontrol == const.CONTROLMAPSHOWN %]
                >Zobrazená
              </option>
              <option value=[% const.CONTROLMAPDEFAULT %]
                [% " selected=\"selected\""
                  IF group.othercontrol == const.CONTROLMAPDEFAULT %]
                >Implicitní
              </option>
              <option value=[% const.CONTROLMAPMANDATORY %]
                [% " selected=\"selected\""
                  IF group.othercontrol == const.CONTROLMAPMANDATORY %]
                >Povinná
              </option>
            </select>
          </td>
          <td>
            <input type=checkbox value=1 name=canedit_[% group.id %]
            [% " checked=\"checked\"" IF group.canedit %]>
          </td>
          <td>
            [% group.bugcount %]
          </td>
        </tr>
      [% END %]
    [% END %]

  </table>
  <br>
  <input type=submit name="submit" value="odeslat">
  <br>
</form>


<p>
Tato nastavení řídí vztah skupin k tomuto produktu.
<p>
Pokud má libovolná skupina zvoleno <b>Zadávání</b>, mohou k tomuto produktu
zadávat [% terms.chyba_4pl %] pouze ti uživatelé, kteří jsou členy všech
skupin s tímto příznakem.
<p>
Pokud má libovolná skupina zvoleno <b>SmíEditovat</b>, bude tento
produkt pouze pro čtení pro všechny uživatele, kteří nejsou členové
všech skupin s tímto příznakem. POUZE uživatelé, kteří jsou členové
všech skupin SmíEditovat, budou moci provádět úpravy. Toto je další
omezení editací dovolených uživateli.
<p>
Příznaky <b>Členové</b> a <b>Ostatní</b> určují, kter[% koncovky.mlady_1pl %]
[%+ terms.chyby %] budou do této skupiny umístěny, podle následujících definic:
<br>
<table border=1>
  <tr>
    <th>
      Členové
    </th>
    <th>
      Ostatní
    </th>
    <th>
      [% terms.Chyby %] v tomto produktu…
    </th>
  </tr>
  <tr>
    <td>
      Nic
    </td>
    <td>
      Nic
    </td>
    <td>
      …nikdy nepoužívají tuto skupinu.
    </td>
  </tr>
  <tr>
    <td>
      Zobrazená
    </td>
    <td>
      Nic
    </td>
    <td>
      …mohou být omezen[% koncovky.verb_pl %] na tuto skupinu. Uživatelé, kteří jsou členy
      této skupiny, mohou do této chyby umisťovat [% terms.chyba_4pl %].
    </td>
  </tr>
  <tr>
    <td>
      Zobrazená
    </td>
    <td>
      Zobrazená
    </td>
    <td>
      …mohou být do této skupiny umisťovány kýmkoli, kdo k nim má právo
      editovat, bez ohledu na to, zda je takový uživatel členem této skupiny.
    </td>
  </tr>
  <tr>
    <td>
      Zobrazená
    </td>
    <td>
      Implicitní
    </td>
    <td>
      …mohou být do této skupiny umisťovány kýmkoli, kdo k nim má právo
      editovat, bez ohledu na to, zda je takový uživatel členem této skupiny.
      Nečlenové do této skupiny [% terms.chyba_4pl %] umisťují implicitně.
    </td>
  </tr>
  <tr>
    <td>
      Zobrazená
    </td>
    <td>
      Povinná
    </td>
    <td>
      …mohou být omezen[% koncovky.verb_pl %] na tuto skupinu. Uživatelé, kteří jsou členy
      této skupiny, mohou do této chyby umisťovat [% terms.chyba_4pl %].
      Nečlenové do této skupiny nově zadan[% koncovky.mlady_4pl %] [%+ terms.chyba_4pl %] umisťují
      povinně.
    </td>
  </tr>
  <tr>
    <td>
      Implicitní
    </td>
    <td>
      Nic
    </td>
    <td>
      …mohou být omezen[% koncovky.verb_pl %] na tuto skupinu a jsou do ní umisťován[% koncovky.verb_pl %]
      implicitně. Uživatelé, kteří jsou členy této skupiny, mohou do této chyby umisťovat [% terms.chyba_4pl %].
    </td>
  </tr>
  <tr>
    <td>
      Implicitní
    </td>
    <td>
      Implicitní
    </td>
    <td>
      …mohou být omezen[% koncovky.verb_pl %] na tuto skupinu a jsou do ní umisťován[% koncovky.verb_pl %]
      implicitně. Uživatelé, kteří jsou členy této skupiny, mohou do této chyby umisťovat [% terms.chyba_4pl %].
      Uživatelé, kteří členy této skupiny nejsou, do této chyby také mohou umisťovat [% terms.chyba_4pl %],
      což se také bude dít implicitně.
    </td>
  </tr>
  <tr>
    <td>
      Implicitní
    </td>
    <td>
      Povinná
    </td>
    <td>
      …mohou být omezen[% koncovky.verb_pl %] na tuto skupinu a jsou do ní umisťován[% koncovky.verb_pl %]
      implicitně. Uživatelé, kteří jsou členy této skupiny, mohou do této chyby umisťovat [% terms.chyba_4pl %].
      Uživatelé, kteří členy této skupiny nejsou, do této chyby také [% terms.chyba_4pl %] umisťují povinně.
    </td>
  </tr>
  <tr>
    <td>
      Povinná
    </td>
    <td>
      Povinná
    </td>
    <td>
      …jsou vždy omezen[% koncovky.verb_pl %] na tuto skupinu, uživatelé nemají možnost volby.
    </td>
  </tr>
</table>


[% PROCESS global/footer.html.tmpl %]

