[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Bradley Baetz <bbaetz@acm.org>
  #%]

[%# INTERFACE:
  # auth_err_tag: string. The tag for the error
  # info: hash. Additional variables which may be used when printing details
  #   of the error.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% SWITCH auth_err_tag %]
  [% CASE "cannot_retreive_attr" %]
    Zadaný atribut LDAP [% info.attr FILTER html %] nebyl nalezen.

  [% CASE "connect_failed" %]
    Při pokusu o spojení s LDAP serverem došlo k chybě.
    [% IF info.errstr %]
      Chyba ohlášená serverem: <tt>[% info.errstr FILTER html %]</tt>.
    [% END %]

  [% CASE "no_userid" %]
    [% terms.Bugzilla %] pro vás vytvořil[% koncovky.Bugzilla %] nový účet, ale
    poté se nepodařilo zjistit identifikátor nového uživatele.

  [% CASE "server_not_defined" %]
    Nebyl definován LDAP server pro autentizaci.

  [% CASE %]
    Neošetřená chyba autentizace: <tt>[% auth_err_tag FILTER html %]</tt>

[% END %]
