[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]
  
[% help_html = [ 
{ id => "short_desc_type", 
  html => "Typ prohledávání shrnutí, který si přejete." },
{ id => "short_desc", 
  html => "Shrnutí $terms.chyba_2sg je krátká věta, která stručně popisuje,<br>
           v čem $terms.chyba spočívá." },   
{ id => "product",
  html => "$terms.Chyby jsou kategorizovány do produktů a komponent. Produkty<br>
           jsou nejvyšší kategorií." },   
{ id => "component", 
  html => "Komponenty jsou kategorie druhé úrovně; každá patří do konkrétního<br> 
           produktu. Pro zúžení seznamu si zvolte produkt." },
{ id => "version", 
  html => "V poli Verze můžete identifikovat verzi softwaru, ve které byl${koncovky.verb}<br>
           $terms.chyba objeven${koncovky.verb}." },
{ id => "target_milestone", 
  html => "Cílový milník může vývojář, kterému byl$koncovky.verb $terms.chyba přidělena, nastavit<br>
           pro určení, kdy plánuje opravu." },
{ id => "long_desc", 
  html => "K $terms.chyba_3sg mohou uživatelé $terms.Bugzilla_2sg přidávat komentáře.<br>
           V těchto komentářích můžete hledat nějaký text." },
{ id => "long_desc_type", 
  html => "Typ prohledávání komentáře, který si přejete." },
{ id => "bug_file_loc", 
  html => "$terms.Chyby u sebe mohou mít uvedeno URL – například adresu<br>
           webové stránky, na které je problém viditelný." },
{ id => "bug_file_loc_type", 
  html => "Typ prohledávání URL, který si přejete." },
{ id => "status_whiteboard", 
  html => "$terms.Chyby mají u sebe volné textové pole, do kterého lze zadávat<br>
           informace o stavu a značky." },
{ id => "status_whiteboard_type", 
  html => "Typ prohledávání tabule, který si přejete." },
{ id => "keywords", 
  html => "K $terms.chyba_3pl můžete přidávat klíčová slova definovaná v seznamu, čímž<br>
           je můžete označovat a seskupovat." },   
{ id => "keywords_type", 
  html => "Typ prohledávání klíčových slov, který si přejete." },
{ id => "bug_status", 
  html => "$terms.Chyba může být v jednom z mnoha stavů." },
{ id => "resolution", 
  html => "Pokud již byl$koncovky.verb $terms.chyba vyřešen${koncovky.verb}, pro řešení
           je udán jeden z těchto důvodů." },
{ id => "bug_severity", 
  html => "Závažnost $terms.chyba_2sg, případně zda se jedná o vylepšení." },
{ id => "priority", 
  html => "Prostřednictvím tohoto pole vývojáři prioritizují své ${terms.chyby}." },   
{ id => "rep_platform", 
  html => "Hardwarová platforma, na které byl$koncovky.verb $terms.chyba pozorován${koncovky.verb}." },
{ id => "op_sys", 
  html => "Operační systém, na kterém byl$koncovky.verb $terms.chyba pozorován${koncovky.verb}." },
{ id => "email1", 
  html => "U $terms.chyba_2pl mají různí lidé různé role.<br>
           Zde můžete vyhledávat podle toho, kdo je v jaké roli." },
{ id => "email2", 
  html => "U $terms.chyba_2pl mají různí lidé různé role.<br>
           Zde můžete vyhledávat podle toho, kdo je v jaké roli." },
{ id => "bug_id", 
  html => "Můžete své hledání omezit na danou množinu ${terms.chyba_2pl}." },   
{ id => "votes", 
  html => "O $terms.chyba_6pl se dá hlasovat a své hledání můžete omezit na $terms.chyby<br>
           s nejméně zadaným počtem hlasů." },
{ id => "chfield", 
  html => "Můžete hledat konkrétní typy změn – zde zadejte pole,<br>
           jejichž změny vás zajímají." },
{ id => "chfieldfrom", 
  html => "Zadejte počáteční a koncové datum buď ve formátu RRRR-MM-DD,<br>
           (volitelně následované časem HH:mm), nebo jako relativní čas<br>
	   ve formátu např. 1d, 2w, 3m nebo 4y (což označuje jeden den,<br>
	   dva týdny, tři měsíce nebo čtyři roky zpět). 0d označuje<br>
	   poslední půlnoc, 0w, 0m, 0y označuje začátek tohoto týdne,<br>
	   měsíce, resp. roku." },
{ id => "chfieldto", 
  html => "Zadejte počáteční a koncové datum buď ve formátu RRRR-MM-DD,<br>
           (volitelně následované časem HH:mm), nebo jako relativní čas<br>
	   ve formátu např. 1d, 2w, 3m nebo 4y (což označuje jeden den,<br>
	   dva týdny, tři měsíce nebo čtyři roky zpět). 0d označuje<br>
	   poslední půlnoc, 0w, 0m, 0y označuje začátek tohoto týdne,<br>
	   měsíce, resp. roku." },
{ id => "chfieldvalue", 
  html => "Na co byla hodnota zvoleného pole v udanou dobu změněna." },
] %]
