[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s):     John Vandenberg <zeroj@null.net>
  #                     Tobias Burnus <burnus@net-b.de>
  #%]

[% PROCESS global/variables.none.tmpl %]

From: bugzilla-admin-daemon
To: [% emailaddress %]
Subject: [% PROCESS subject %]

Požadavek stornován z [% remoteaddress %].

Pokud jste o to nežádali, může se jednat o prostý
omyl, nebo se někdo snaží narušit váš účet na [% terms.Bugzilla_6sg %].

Pokud máte podezření na pokus o podvod, zkontrolujte níže uvedené
informace a přepošlete tento mail správci ([% maintainer %]).

            Žeton: [% token %]
              Typ: [% tokentype %]
         Uživatel: [% emailaddress %]
     Datum vydání: [% issuedate %]
    Data události: [% eventdata %]
Zrušeno, protože:
[% PROCESS cancelactionmessage %]

[% BLOCK subject %]
  [% IF tokentype == 'password' %]
    Požadavek na změnu hesla stornován.
    Password change request cancelled
  [% ELSIF tokentype == 'emailnew' OR tokentype == 'emailold' %]
    Požadavek na změnu e-mailu stornován.
  [% ELSE %]
    Žeton [% tokentype %] zrušen.
  [% END %]
[% END %]

[% BLOCK cancelactionmessage %]
  [% IF    cancelaction == 'account_exists' %]
    Účet [% email %] již existuje.

  [% ELSIF cancelaction == 'email_change_cancelled' %]
    Požadavek na změnu e-mailové adresy pro účet
    [% old_email %] na [% new_email %] byl stornován.

  [% ELSIF cancelaction == 'email_change_cancelled_reinstated' %]
    Požadavek na změnu e-mailové adresy pro účet
    [% old_email %] na [% new_email %] byl stornován.
    Bylo obnoveno vaše původní nastavení.

  [% ELSIF cancelaction == 'emailold_change_cancelled' %]
    Požadavek na změnu e-mailové adresy vašeho účtu
    na [% new_email %] byl stornován.

  [% ELSIF cancelaction == 'password_change_cancelled' %]
    Žádali jste o stornování.

  [% ELSIF cancelaction == 'user_logged_in' %]
    Přihlásili jste se.

  [% ELSIF cancelaction == 'wrong_token_for_changing_passwd' %]
    Pokusili jste se použít žeton ke změně hesla.

  [% ELSIF cancelaction == 'wrong_token_for_cancelling_email_change' %]
    Pokusili jste se použít žeton ke stornování změny e-mailové adresy.

  [% ELSIF cancelaction == 'wrong_token_for_confirming_email_change' %]
    Pokusili jste se použít žeton k potvrzení změny e-mailové adresy.

  [% ELSE %]
    [%# Give sensible error if the cancel-token function is used incorrectly.
      #%]
    Vaše použití funkcí stornovacích žetonů v [% terms.Bugzilla_6sg %] je nesprávné.
    Předali jste řetězec '[% cancelaction %]', správný postup je předat
    označení zprávy a definovat tuto zprávu v souboru cancel-token.txt.tmpl.<br>
    <br>
    Pokud jste koncový uživatel [% terms.Bugzilla_2sg %] a vidíte tuto zprávu,
    uložte laskavě tuto stránku a pošlete ji správci systému ([% Param('maintainer') %]).
  [% END %]
[% END %]
